a.footer-links{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    display: inline;
    padding: 5px 0px;
}
a.footer-links:hover{
    color: #8f94a7;
}
.footer-icon-box{
    display: flex;
    padding-top: 45px;
}
.footer-icon-box svg{
    color: #fff;
    font-size: 28px;
}
.footer-icon-container{
    padding: 10px 10px;
    margin: 0px 4px;
    border: 1px solid #fff;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    cursor: pointer;
}
.footer-icon-container:hover{
    background-color: #8f94a7;
}
.css-cadhb9-MuiInputBase-root-MuiInput-root{
    border-bottom: 1px solid #fff !important;
}